@model Shop.Models.RealEstate.ImageToDatabaseViewModel


<div class="form-group row col-sm-4 offse-2">
    <div>@Model.ImageTitle</div>
    <img class="card-img-top" scr="@Model.Image" asp-append-version="true" />

</div>